<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}Emergency Puppy!{{/if}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/core.css">
    {{#if showOGP}}
      {{#puppy}}
      <meta property="og:title" content="Emergency Puppy: {{title}}" />
        <meta property="og:description" content="This emergency puppy was provided by the good contributors on Reddit. Link to source provided. Submit your own today!" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="{{../urlPrefix}}puppy/{{id}}" />
        {{#if videoUrl}}
        <meta property="og:type" content="video.other" />
        <meta property="og:video" content="{{../../urlPrefix}}puppy/{{id}}" />
        {{else}}
        <meta property="og:type" content="image" />
        <meta property="og:image" content="{{../../urlPrefix}}puppy/{{id}}" />
        {{/if}}
      {{/puppy}}
    {{/if}}
</head>
<body>
  <div class="container">
    <div class="row text-center">
      <a class="btn btn-default" href="/submit" role="button">Submit</a>
      <a class="btn btn-default" href="/" role="button">Another Puppy!</a>
    </div>
    <div class="row">
{{{body}}}
    </div>
    <div class="row">
      <p class="license centered">
      All photos are owned by their respective creators. Click on the picture to get to its source.
      </p>

      <a href="https://github.com/b-turchyn/emergencypuppy/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    </div>
  </div>

</body>
</html>
