<div class="centered">
    {{#puppy}}
        <p>
            {{#if videoUrl}}
              <blockquote class="imgur-embed-pub" lang="en" data-id="{{slug}}"><a href="//imgur.com/{{slug}}">{{title}}</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            {{/if}}
            {{#if imageUrl}}
              <a href="{{source}}" title="{{title}}" class="puppy">
                <img class="puppy-image" src="/img/{{id}}" alt="{{imageAlt}}">
              </a>
            {{/if}}
        </p>

        <p class="permalink">
            Like this puppy? Here's a <a href="/puppy/{{id}}" rel="bookmark">permalink</a>!

            <br>
            <input id="permalink-input" readonly
                value="http://www.emergencypuppy.party/puppy/{{id}}">
        </p>
    {{/puppy}}
</div>

<script>
(function (win, doc) {
    doc.getElementById('permalink-input').addEventListener('focus', function () {
        var el = this;

        setTimeout(function () {
            el.select();
        }, 1);
    }, false);
}(this, document));
</script>
