<div class="centered">
    {{#puppy}}
        <p>
            <a href="{{url}}" title="{{title}}" class="puppy">
                {{#if videoUrl}}
                <video autoplay="" loop="" muted="" preload="" class="puppy-image">
                    <source src="{{videoUrl}}.webm" type="video/webm" class="imgurgifvwebmsrc">
                    <source src="{{videoUrl}}.mp4" type="video/mp4" class="imgurgifvmp4src">
                </video>
                {{/if}}
                {{#if imageUrl}}<img class="puppy-image" src="/img/{{id}}" alt="{{imageAlt}}">{{/if}}
            </a>
        </p>

        <p class="permalink">
            Like this puppy? Here's a <a href="/puppy/{{id}}" rel="bookmark">permalink</a>!

            <br>
            <input id="permalink-input" readonly
                value="http://www.emergencypuppy.party/puppy/{{id}}">
        </p>
    {{/puppy}}
</div>

<script>
(function (win, doc) {
    doc.getElementById('permalink-input').addEventListener('focus', function () {
        var el = this;

        setTimeout(function () {
            el.select();
        }, 1);
    }, false);
}(this, document));
</script>
